<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332478051043-ie6dv43t9catn56d4mc2803u3tibdgpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332478051043-ie6dv43t9catn56d4mc2803u3tibdgpb</string>
	<key>API_KEY</key>
	<string>AIzaSyDQtZOYBvMfDx5iwHNwpUVhX9DKc-69phw</string>
	<key>GCM_SENDER_ID</key>
	<string>332478051043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tfo.aio</string>
	<key>PROJECT_ID</key>
	<string>wmdproject-5cb71</string>
	<key>STORAGE_BUCKET</key>
	<string>wmdproject-5cb71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332478051043:ios:5837c275591d2f8c898bd6</string>
</dict>
</plist>